.wrapper {
    width: 600px;
    height: 800px;
    padding: 5px;
    border: 1px solid #ccc;
}

.one {
    width: 120px;
    height: 100px;
    padding: 1px;
    margin: 3px;
    border: 1px solid #ccc;
    float: left;
    text-align: center;
}

.one > img {
    width: 100px;
    height: 50px;
}

.title {
    font-weight: bold;
}
.price {
    font-size: 13px;
}